@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('../src/utils/fonts/NeueHaasGrotesk/NeueHaasDisplay-Mediu.woff') format('woff2'),
       url('../src/utils/fonts/NeueHaasGrotesk/NeueHaasDisplay-Mediu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('../src/utils/fonts/NeueHaasGrotesk/NeueHaasDisplay-Bold.woff') format('woff2'),
       url('../src/utils/fonts/NeueHaasGrotesk/NeueHaasDisplay-Light.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
  --dark-color: #000;
  --basic_text-white: #EBEDF0;
  --basic-white: #fff;
  --charcoal-color: #3F3F3F;
  --grey-color: #999999;
  --bg_grey-color: #E6E7E8;
}

body {
  /* font-family: 'Neue Haas Grotesk Display Pro', sans-serif; */
  background-color: var(--dark-color);
}
.page-width {
  color: var(--basic-white);
  max-width: 1310px;
  margin: 0 auto;
}
.custom-besleyFont {
  font-family: "Besley", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.custom-neueFont_500Weight {
  font-family: 'Neue Haas Grotesk Display Pro';
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.custom-neueFont_400Weight {
  font-family: 'Neue Haas Grotesk Display Pro';
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.custom-neueFont_Bold {
  font-family: 'Neue Haas Grotesk Display Pro';
  font-optical-sizing: auto;
  font-style: bold;
}
.customBtn {
  background-color: var(--basic-dark);
  border: 1px solid var(--grey-color);
  border-radius: 50px;
  color: var(--basic-white);
  padding: 1px 15px;
  font-family: 'Neue Haas Grotesk Display Pro';
  font-weight: 500;
  font-style: normal;
}
.customBtn:hover {
  scale: 0.98;
}

textarea:focus,
input:focus {
  box-shadow: none !important;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
h1 {
  color: var(--basic-white);
  font-family: "Besley", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(3rem, 4vw + 1rem, 4rem);
}

h2 {
  font-family: "Besley", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.imgHover_effect {
  overflow: hidden;
}
.imgHover_effect img {
  transition: transform 1s ease;
}

.imgHover_effect img:hover {
  transform: scale(1.2);
}

/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in .9s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom .7s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left .7s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right .7s ease-in-out both;
}


@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.app {
  max-width: 1440px;
  margin: 0 auto;
}